html,
body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

#canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

.crt #canvas, .crtgrainy #canvas, .blurrycrt #canvas, .blurrycrt2 #canvas, .blurrygrainycrt #canvas {
	filter: brightness(1.4) saturate(1.3);
}

.sharpen #canvas, .grainy #canvas {
	filter: saturate(1.2);
}

.sharpen #canvas,
.grainy #canvas,
.original #canvas {
	image-rendering: pixelated;
}

.fullhd #canvas {
	height: 100%;
}

#menu {
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(0, 0, 0, 0.8);
	padding: 15px;
	border-radius: 8px;
	z-index: 10;
	transform: translate(-50%, -50%);
}

select,
button {
	margin: 5px 0;
	padding: 5px;
	width: 100%;
}

#container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	z-index: 2;
	overflow: hidden;
	position: absolute;
	max-height: 100%;
}

#container.snesanalogue {
	aspect-ratio: 260 / 240;
}

#container.ps1retroscaler2x {
	aspect-ratio: 320 / 240;
}

#container.fullhd {
	aspect-ratio: 1920 / 1080;
	border-radius: 0;
	max-height: 100vw;
	height: 100%;
}

#container.ps2retroscaler2x {
	aspect-ratio: 320 / 240;
}

#container.n64retroscaler2x {
	aspect-ratio: 320 / 240;
}

@keyframes flicker {
	0% {
		opacity: 0.4;
	}

	100% {
		opacity: 0.35;
	}
}

#fps {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	z-index: 10;
	display: none;
}
